

#container			{width:980px; margin:0 auto;overflow:hidden;}
#container2			{width:650px; margin:0 auto;padding-top:12px;overflow:hidden;}



.brand_box			{display: block; float: left;margin-top:5px;margin-left:87px;padding-bottom:10px;}
.flower_store		{font:10px Verdana,Geneva,Arial,Helvetica,sans-serif;color:#111;font-weight:normal; text-align:right;padding-right:2px;text-decoration: none;}
.box_cart			{text-align:right;float: right;margin:30px 5px 9px 0;}
.box_info			{line-height:11px;text-align:right;}
.info				{font:10px Verdana,Geneva,Arial,Helvetica,sans-serif;color: #111;text-decoration: none;}
/*a:hover				{text-decoration: none; color: #0099FF;}*/
.box_layer			{text-align:right;background-color:#fff;width:278px;height:95px; position:absolute; top:187px;z-index:101;filter: alpha(opacity=80); /*ie*/opacity: 0.80; /*Mozilla*/}
.menu_title			{color: #6d6d6d;padding-bottom:5px;}
.m10				{margin-right:10px;}
.steps_check			{position:absolute;z-index:102;top:250px;margin-left:478px;width:463px;text-align:right;}
.steps_check b			{text-transform: uppercase;padding-left:15px;color:#fff;font:bold 9px verdana, sans-serif, helvetica, arial;}
.checkout_step			{float:right;text-align:left;width:343px; height:19px;background:url(../images/steps.png) no-repeat;}

/* menu */
.menu				{width:110px;}
.menu li 			{float:right;width:110px;line-height:15px;}
.menu li a			{color:#000;text-decoration: none; }
.menu li a:hover	{color: #0099ff;text-decoration: none;}
.menu li a.up		{color:#ff3600;text-decoration: none;}
/* menu 2  */
.menu2				{width:110px;}
.menu2 li 			{float:right;width:110px;line-height:15px;}
.menu2 li a			{color:#000;text-decoration: none; padding:0 10px 0 0;}
.menu2 li a:hover	{color: #0099ff;text-decoration: none;}
.menu2 li a.up		{color:#ff3600;text-decoration: none;}
/*.menu2 li a.w		{color:#fff;text-decoration: none;padding:4px 10px 4px 12px;background:url(../images/store.png) no-repeat;background-position: right 0;line-height:28px;text-shadow: 0 1px 2px #555;}*/
/*.menu2 li a.w2		{color:#000;text-decoration: none;padding:4px 10px 4px 12px;background:url(../images/store.png) no-repeat;background-position: right 0;line-height:28px;text-shadow: 0 1px 3px #eee;}*/
/*.menu2 li a.w:hover	{color:#01e3ff;text-shadow: 0 1px 2px #333;background:url(../images/store.png) no-repeat;background-position: right -25px;}*/
/*.menu2 li a.w2:hover	{color:#fff;text-shadow: 0 1px 2px #333;}*/

/* originals NJF only */



/* box */
.bb1,.bb2,.bb3,.bb4	{display:block; overflow:hidden;}
.bb1,.bb2,.bb3		{height:1px;}
.bb2,.bb3,.bb4		{background:#fff;border-left:1px solid #93b4bc;border-right:1px solid #93b4bc;}
.bb1 				{margin:0 4px; background:#93b4bc;}
.bb2				{margin:0 2px; border-width:0 2px;}
.bb3				{margin:0 1px;}
.bb4				{margin:0 1px; height:1px;}
.bb_box				{display:block; padding:12px 12px 3px 12px; border:0 solid #93b4bc; border-width:0 1px;font-size:12px;color:#777;line-height:14px;}

/* round corners: top outline */
.wb1,.wb2,.wb3,.wb4	{display:block; overflow:hidden;}
.wb1,.wb2,.wb3		{height:1px;}
.wb2,.wb3,.wb4		{background:#fff;border-left:1px solid #e6e7e8;border-right:1px solid #e6e7e8;}
.wb1 				{margin:0 4px; background:#e6e7e8;}
.wb2				{margin:0 2px; border-width:0 2px;}
.wb3				{margin:0 1px;}
.wb4				{margin:0 1px; height:1px;}
.wb_box				{display:block;padding:12px 8px 3px 20px; border:0 solid #e6e7e8; border-width:0 1px;font-size:12px;line-height:14px;background:#fff;}


/* shopping */
.checkout_table			{background-color:#fff;margin-top:18px; font-family: verdana, helvetica, arial, sans-serif;font-size: 11px;}
.checkout_table	td		{vertical-align: top;}
.checkout_table b		{display:block;border-left: #00b5cb 1px dotted;padding:8px 0 3px 8px;color:#555;font:bold 10px verdana, sans-serif, helvetica, arial;margin-bottom:1px;}

.checkout_text			{border-left: #00b5cb 1px dotted;padding-left:8px;padding-top:12px;}

.checkout_text1			{border-left: #00b5cb 1px dotted;padding-left:8px;padding-top:7px;}
.checkout_text2			{border-left: #00b5cb 1px dotted;padding:12px 8px 0 8px;}
.field_title		{color:#333;text-transform: uppercase;font-weight:bold;font-size:16px;padding-bottom:10px;}
.field_title span	{color:#777;text-transform: uppercase;font-weight:normal;font-size:14px;padding-bottom:10px;}
.check_03b				{padding-left:5px;float:left;}
.check_03				{float:left;display:block;color:#888;font:bold 12px verdana, sans-serif, helvetica, arial;width: 250px;padding-top:1px;text-align: right;}


#processing			{height:100%;height-min:100%;width:100%;background:url(../images/shdw.png) repeat;position:fixed;top:0;left:0; z-index:109;display:block;}
.process			{position:fixed;left:50%;top:50%;margin:-80px 0 0 -125px;background-color:#4eb8cc; width:190px;height:80px;padding:30px;border-left: #888 1px solid; border-bottom:#555 1px solid;}


/* store */
.cart a				{display:block;width:26px;height:26px;background:url(../images/cart.png) no-repeat;}
.cart a:hover		{background-position:0 -29px;}

#declined			{width:980px;height:100%;position:absolute; z-index:101;background:url(../images/shdw.png);}
.declined			{width:700px;}
.message_sent		{top:120px;height:750px;width:680px;white-space: nowrap;position:absolute; z-index:101;background:url(../images/white80.png);}


#message_sent		{background-image: url(../images/white80.png);background-position: top left;background-repeat: repeat;position:absolute;z-index:108;display:block;top:5px;margin-left:18px;width:420px;}

/* links */
a					{text-decoration:none;color: #0099cc;}
a:hover				{text-decoration:underline;color: #995db6;}

a.order				{color:#999;}
a.order:hover		{color:#995db6;}

/* overlay close X button */

a.remove img		{background-color:#888;cursor:pointer;margin-top:2px;}
a.remove:hover img	{background-color:#cf28a2;}



/* footer */
#footer				{padding:60px 3px 48px 0;font: 10px Verdana,Geneva,Arial,Helvetica,sans-serif; color:#555;}



/* background-color:#ffffcc; // border: #000 1px solid; */ /* padding/margin:30px 0 20px 0px; = top,right,bot,left;*/
/* background:30px 0 20px 0px; = left,top,right,bot; */
/* the background repeat-x for horizontal --- the repeat-y for vertical */



/* buttons */
.return-step a		{display:block;width:204px;height:39px;background:url(../images/return-to-step-one.png) no-repeat;}
.return-step a:hover{background-position:0 -42px;}

.return-store a		{display:block;width:204px;height:39px;background:url(../images/return-to-store.png) no-repeat;}
.return-store a:hover{background-position:0 -42px;}

.continue a			{display:block;width:204px;height:39px;background:url(../images/continue-checkout.png) no-repeat;}
.continue a:hover	{background-position:0 -42px;}

.submit-order a		{display:block;width:204px;height:39px;background:url(../images/submit-order.png) no-repeat;}
.submit-order a:hover{background-position:0 -42px;}

.return-step-two a		{display:block;width:204px;height:39px;background:url(../images/return-to-step-two.png) no-repeat;}
.return-step-two a:hover	{background-position:0 -42px;}

.print-receipt a	{display:block;width:204px;height:39px;background:url(../images/print-receipt.png) no-repeat;}
.print-receipt a:hover{background-position:0 -42px;}


.checkout_steps_text{text-align:right;text-transform: uppercase;padding:0 2px 5px 0;color:#707070;font:bold 9px verdana,arial,helvetica,sans-serif;}
.checkout_steps		{float:right;width:403px;height:14px;background:url(../images/steps.gif) no-repeat left 1px;}
.step_2				{margin-left:140px;}
.step_3				{margin-left:251px;}
.step_4				{margin-left:386px;}


/* inputs */
input,select,textarea{color:#276c9c;font:14px verdana, sans-serif, helvetica, arial;}

input,textarea		{background:#f5f5f5 url(../images/input_bg.gif) repeat-x;}
select				{background: #f5f5f5 url(../images/input_bg.gif) repeat-x;}
label				{color:#888;font:bold 12px verdana, sans-serif, helvetica, arial;}
.tright label		{padding-right:5px;}



.select				{margin:3px 0 5px 0;padding: 1px 1px 1px 0;
					border: 1px solid;border-color: #b8b8b8 #d8d8d8 #d8d8d8;}

.input				{height:17px;margin:3px 0 5px 0;padding:2px 0 1px 2px;
					border:1px solid;border-color:#b8b8b8 #d8d8d8 #d8d8d8;}

.text				{height:60px;margin:3px 0 5px 0;padding:2px 0 1px 2px;
					border:1px solid;border-color:#b8b8b8 #d8d8d8 #d8d8d8;}



.w20 {width:20px !important;}
.w30 {width:30px !important;}
.w50 {width:50px !important;}
.w70 {width:70px !important;}
.w80 {width:80px !important;}
.w95 {width:95px !important;}
.w100 {width:100px !important;}
.w110 {width:110px !important;}
.w128 {width:128px !important;}
.w150 {width:150px !important;}
.w160 {width:160px !important;}
.w173 {width:173px !important;}
.w175 {width:175px !important;}
.w189 {width:189px !important;}
.w194 {width:194px !important;}
.w210 {width:210px !important;}
.w231 {width:231px !important;}
.w242 {width:242px !important;}
.w280 {width:280px !important;}
.w290 {width:290px !important;}
.w293 {width:293px !important;}
.w300 {width:300px !important;}
.w306 {width:306px !important;}
.w380 {width:380px !important;}
.w612 {width:612px !important;}
.w613 {width:613px !important;}
.w616 {width:616px !important;}